.pokemon{
    margin: 10px;
    width: 300px;
    height: 370px; 
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
    background:none; 
}
.pokemon h4{
    margin: 8px;
    font-size: 30px;
}

.pokemon .types{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.pokemon .types :nth-child(even){
    margin-left: 6px;
}

.pokemon .image{
    margin: 10px;
}

.pokemon .image img{
    max-height: 200px;
    max-width: 200px;
}

.types{
    font-size:15px;
    font-weight: bold;
}

.types p{
    padding: 9px;
    border: 4px solid white;
    border-radius: 20px;
} 
/* Types */
.grass{ 
    background: #a4b416;
}
.poison{
    background: #7c317d;
}
.fire{
    background: #e03609;
}
.flying{
    background: #8094e7;
}
.water{
    background: #2989e8;
}
.bug{
    background: #6e7913;
}
.normal{
    background: #ada594;
}
.fairy{
    background: #e08fe0;
}
.electric{
    background: #d3c015;
}
.ground{
    background: #867137;
}
.rock{
    background: #756d53;
}
.fighting{
    background: #682714;
}
.psychic{
    background: #e1386e;
}
.steel{
    background: #8e8e9e;
}
.ice{
    background: #5d9baf;
}
.ghost{
    background: #454593;
}
.dragon{
    background: #473596;
}
.dark{
    background: #3c2d23;
}

/* Button */
.poke_btn button{
    width: 75px;
    height: 35px;
    outline: none;
    background: none;
    border: 1px solid white;
    border-radius: .7em;
    color: white;
    position: relative;
    padding: .5em .9em;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1em;
    cursor: pointer;
    z-index: 0;

    &:before{
        position: absolute;
        content: '';
        background: rgba(0,0,0,0.2);
        height: 100%;
        width: 100%;
        top: .2em;
        left: .3em;
        z-index: -1;
        border-radius: inherit;
    }
}

.icon img{
    width:15px;
    height: 15px;
    position: absolute;
    top: .8em;
    left: .8em;
    opacity: 0;
}
.more{
    text-align: center;
    & p{
        text-align: center;
        font-weight: bold;
        clip-path: circle(0% at 50% 50%);
        display: none;
    }
}
