.pokemon{
    margin: 15px;
    width: 300px;
    height: 350px; 
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
}
.pokemon h4{
    margin: 8px;
}

.pokemon .types{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.pokemon .types :nth-child(even)::before{
    content: "/ ";
    margin-left: 8px;
}

.pokemon .image{
    margin: 10px;
}

.pokemon .image img{
    max-height: 224px;
}


